idea/*
temp/*
idea/
*.patch
.idea/
.log
.DS_Store
*.orig
*.rej
Log
vendor/*
nknd
nknc
cscope*
*~
build/
wallet.json
wallet.pswd
config.json
ChainDB

/web/
# Editor directories and files
.vscode
*.suo
