idea/*
temp/*
idea/
*.patch
.idea/
.log
.DS_Store
*.orig
*.rej
Log
vendor/*
nknd
nknc
cscope*
*~
build/
wallet.json
wallet.pswd
config.json
ChainDB

/web/
# IDE / Editor
.editorconfig
# Service worker
sw.*
# web service
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
.npm
# Coverage directory used by tools like istanbul
coverage
# next.js build output
.next
# nuxt.js build output
.nuxt
# Nuxt generate
dist
# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?