idea/*
temp/*
idea/
*.patch
.idea/
.log
*.orig
*.rej
cscope*
.vscode
*.suo
.DS_Store
*~

/build/
/certs/
/ChainDB/
/ChainDB.config
/Log/
/vendor/

/nknd
/nknc
/cmd/nknd/nknd
/cmd/nknc/nknc
/wallet.json
/wallet.pswd
/config.json
/test.json
